
body{
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-bottom.svg) url(images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-size: 300px 100px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    
}
p{
    color:hsl(0, 0%, 59%);
    font-weight: 400;
}
.age{
    color:hsl(0, 0%, 59%);
    font-weight: 400;
}

.pattern-card{
    border-radius: 25px 25px 0 0;
    position: relative;
}
.main-box{
   
   background-color: #fff;
   margin:  10% 33.5%;
   border-radius: 25px;
   text-align: center;
}
#main-section{
    line-height: 2.5;
}
.main-img{
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    bottom: 35px;
}
#footer{
     padding: 0 4%;
}


